* {
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    line-height: 1.4;
}

.container {
    padding: 50px;
    background-color: #a47673;
}

.cv {
    margin-left: auto;
    margin-right: auto;
    padding: 46px 72px;
    max-width: 794px;
    min-height: 200px;
    background-color: #fff;
    box-shadow: 40px 30px 5px 5px #383838;
}

.cv-person-info {
    margin-bottom: 35px;
}

h1.name {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

p.info {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

h2.about {
    margin-top: 18px;
    font-size: 14px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 2px solid #000;
}

h3.desc {
    margin-top: 18px;
    text-align: justify;
    font-weight: 600;
}

span {
    display: inline-block;
}

.full-width {
    display: inline-block;
    width: 100%;
}

.exp-list {
    padding-left: 30px;
    text-align: justify;
    font-weight: 500;
    list-style: circle;
}

/* Footer */
.footer {
    margin-top: 18px;
}

.footer b {
    font-weight: 600;
}
