* {
    box-sizing: border-box;
}

button,
input,
select,
textarea {
    font-size: inherit;
    font-family: inherit;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
}

/* CV */
.container {
    padding: 50px;
    background-color: #a47673;
}

.cv {
    margin-left: auto;
    margin-right: auto;
    padding: 46px 72px;
    max-width: 794px;
    min-height: 200px;
    background-color: #fff;
    box-shadow: 40px 30px 5px 5px #383838;
}

.cv-person-info {
    margin-bottom: 35px;
}

h1.name {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

p.info {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

h2.about {
    margin-top: 18px;
    font-size: 14px;
    padding-bottom: 8px;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 2px solid #000;
}

h3.desc {
    margin-top: 18px;
    text-align: justify;
    font-weight: 600;
}

span {
    display: inline-block;
}

.full-width {
    display: inline-block;
    width: 100%;
}

.exp-list {
    padding-left: 30px;
    text-align: justify;
    font-weight: 500;
    list-style: circle;
}

/* Footer */
.footer {
    margin-top: 18px;
}

.footer b {
    font-weight: 600;
}

/* Menu */
.top {
    background: #3e5cca;
}

.menu {
    /* margin: 0 58px; */
    padding: 0 40px;
    background: #3e5cca;
    font-size: 0;
}

.menu li {
    display: inline-block;
    background: #3e5cca;
}

.menu > li a {
    display: inline-block;
    padding: 24px 24px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.menu .active a {
    background: white;
    color: black;
}

.menu .sub-menu {
    position: absolute;
    display: none;
}

.menu li:hover .sub-menu {
    display: block;
}
/* Form */
.form {
    margin-left: auto;
    margin-right: auto;
    background-color: #32425b;
    max-width: 600px;
    padding: 30px;
}

.form-heading {
    color: #fff;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 600;
}

.form-label {
    margin: 10px 0 4px;
    display: block;
    font-size: 16px;
    color: white;
}

label.gender {
    color: white;
}

.form-input {
    width: 100%;
    outline: none;
    padding: 4px 4px;
    border: 2px solid #ccc;
    border-radius: 6px;
}

.avatar-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.form-advertise label {
    display: block;
}

.btn {
    display: inline-block;
    padding: 6px 16px;
    border-radius: 8px;
    min-width: 150px;
    text-align: center;
    border: none;
    background: #1ed5b9;
    color: white;
    text-decoration: none;
}

.footer {
    margin-top: 30px;
}

.form .submit-btn {
    width: 100%;
}

.form-advertise label {
    color: #fff;
}
